<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/index.css">
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
        <script src="../static/js/client_side_db.js"></script>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="./clientSide.html">Home</a>
        </div> 
        <div class='container'>
            <div class='jumbotron'>
                <h1 id='header'>LASP Test Page With Client Side Database Retrieval</h1>
            </div>
        </div>

        <button onclick=linkTest()>JavaScript File Link test</button>


    </body>
</html>